@charset "ISO-8859-1";
*{ margin:0px; padding:0px;}
body{ background-color: lightpink;}
.Section{
	position: absolute;
    height: 235px;
    width: 450px;
    left: 560px;
    background-color: lightgrey;
    box-shadow: 10px 10px 10px silver;
    top: 165px;
    border-radius: 40px;
} 
table{
	position: absolute;
	left: 50px;
	margin-top: 25px
}

td{
	padding: 10px;
	font-weight: bold;
}

button{
	padding: 5px;
    font-weight: bold;
    margin-top: 130px;
    margin-left: 175px;
}

#result{
	    margin-top: 10px;
	    text-align: center;
	    color: navy;
}