@charset "ISO-8859-1";
*{
	margin:0px;
	padding: 0px;
}
body{background-color: lightcyan;}

#ribbon{
	padding: 10px;
	color:cyan;
	font-weight: bold;
	background-color: grey;
	padding-left: 555px;
}


.wish #wishMsg{
	color: navy;
	position:absolute;
	top: 85px;
    left: 1255px;
}

.wish #name{
	color: navy;
    position: absolute;
    top: 109px;
    left: 1255px;
    font-weight: bolder;
}

.logout{
	position: absolute;
    padding: 10px;  padding-left: 15px; padding-right: 15px;
    top: 90px;  left: 1435px;
    color: seashell; font-weight: bold;
    background-color: black;
}